@model List<YearResult>
@{
    ViewData["Title"] = "AVERAGE - PM 10";
}

<h1>Average results</h1>

@foreach (var resultForYear in Model)
{
    <partial name="_ResultForYearPartial" model="@resultForYear" />
}
